[submodule "vim/plugins/fugitive"]
	path = vim/plugins/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/plugins/papercolor"]
	path = vim/plugins/papercolor
	url = git@github.com:NLKNguyen/papercolor-theme.git
[submodule "vim/plugins/editorconfig"]
	path = vim/plugins/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "vim/plugins/fzf"]
	path = vim/plugins/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/plugins/coc"]
	path = vim/plugins/coc
	url = git@github.com:neoclide/coc.nvim.git
